In [1]:
import numpy as np
import pandas as pd

from sklearn import cross_validation
from sklearn import neighbors
from sklearn import grid_search
from sklearn import metrics
from sklearn import linear_model
from sklearn import ensemble

import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="whitegrid", font_scale=1)
%matplotlib inline

In [9]:
# Load data
weather_data_df = pd.read_csv("data/weather.csv")

# Check head
weather_data_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [7]:
# load main data_set
main_data_df = pd.read_csv("data/train.csv")

In [8]:
main_data_df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [10]:
# groupby function on date as column and use mean (mean of the values in there) as aggregator
weather_data_df.groupby(['Date']).mean()

            Station  Tmax  Tmin  DewPoint  ResultSpeed  ResultDir
Date
2007-05-01      1.5  83.5  51.0      51.0         2.20       26.0
2007-05-02      1.5  59.5  42.5      42.0        13.15        3.0
2007-05-03      1.5  66.5  47.0      40.0        12.30        6.5
2007-05-04      1.5  72.0  50.0      41.5        10.25        7.5
2007-05-05      1.5  66.0  53.5      38.5        11.45        7.0
2007-05-06      1.5  68.0  50.5      30.0        14.10       10.5
2007-05-07      1.5  83.5  48.5      40.0         8.55       17.5
2007-05-08      1.5  81.0  57.0      57.5         2.60        9.5
2007-05-09      1.5  76.5  62.0      59.5         3.90        8.0
2007-05-10      1.5  83.5  57.5      52.0         1.35       13.0
2007-05-11      1.5  71.5  50.0      43.0        11.50       19.5
2007-05-12      1.5  64.5  46.5      36.5        12.55        2.0
2007-05-13      1.5  69.0  43.5      32.5         6.50       12.5
2007-05-14      1.5  90.0  55.0      46.0        15.50       21.0
2007-05-15      1.5  81.0  56.5      56.0         8.10       26.0
2007-05-16      1.5  65.0  44.5      42.5         7.90       36.0
2007-05-17      1.5  61.5  43.5      32.0        11.10        2.0
2007-05-18      1.5  70.5  42.5      30.5         4.40       23.5
2007-05-19      1.5  80.0  56.0      38.0        11.10       23.5
2007-05-20      1.5  69.0  43.5      40.5         9.50        3.5
2007-05-21      1.5  79.5  45.0      50.0         6.30       10.5
2007-05-22      1.5  87.0  57.5      45.0        10.05       17.0
2007-05-23      1.5  89.0  63.0      48.5        11.15       18.5
2007-05-24      1.5  88.0  64.5      53.5        14.35       20.5
2007-05-25      1.5  68.0  56.5      45.0         4.70        5.0
2007-05-26      1.5  67.5  49.5      55.0         2.65       16.0
2007-05-27      1.5  75.0  58.0      48.0         8.55       25.0
2007-05-28      1.5  77.5  52.0      48.0         4.75        9.0
2007-05-29      1.5  88.0  62.5      58.5         5.80       17.0
2007-05-30      1.5  88.0  68.0      57.5        10.00       18.0
...             ...   ...   ...       ...          ...        ...
2014-10-02      1.5  73.5  64.5      62.0         7.20       17.0
2014-10-03      1.5  66.5  44.5      46.0        14.55       28.0
2014-10-04      1.5  48.0  36.0      34.5        13.55       25.5
2014-10-05      1.5  55.5  39.5      35.5         9.30       23.0
2014-10-06      1.5  62.0  45.0      39.0         8.70       24.0
2014-10-07      1.5  67.5  48.5      44.0        10.05       24.5
2014-10-08      1.5  66.0  46.0      35.5        10.85       27.0
2014-10-09      1.5  63.0  46.5      35.0         3.40       19.0
2014-10-10      1.5  58.5  41.5      39.5         5.75        2.0
2014-10-11      1.5  59.5  38.0      35.0         3.15        8.0
2014-10-12      1.5  63.5  41.5      43.0         8.70       14.0
2014-10-13      1.5  69.0  57.5      59.5         7.60       14.5
2014-10-14      1.5  66.0  53.0      58.0         2.65       11.0
2014-10-15      1.5  56.5  51.5      52.0         9.45       35.0
2014-10-16      1.5  57.0  51.5      50.5         4.75       24.5
2014-10-17      1.5  62.5  48.5      47.0        10.90       28.5
2014-10-18      1.5  51.0  37.5      39.0         7.90       34.0
2014-10-19      1.5  55.5  34.5      39.0         8.30       21.0
2014-10-20      1.5  65.5  48.0      45.0         4.80       32.0
2014-10-21      1.5  53.5  47.0      40.0        10.90       18.5
2014-10-22      1.5  56.0  39.0      38.0         2.95        9.5
2014-10-23      1.5  60.5  38.5      40.5         7.70       19.0
2014-10-24      1.5  67.5  53.0      47.0         4.65       22.0
2014-10-25      1.5  73.5  50.5      40.5        10.05       28.5
2014-10-26      1.5  65.0  43.0      32.5         1.25        8.0
2014-10-27      1.5  78.0  52.5      51.5        12.35       19.0
2014-10-28      1.5  67.0  46.5      39.0        14.40       26.0
2014-10-29      1.5  49.0  38.0      33.0         9.00       29.0
2014-10-30      1.5  52.0  34.5      34.5         5.50       23.5
2014-10-31      1.5  48.0  33.5      27.0        22.15       34.0

[1472 rows x 6 columns]

In [11]:
from datetime import datetime
#pd.to_datetime(df['Date'], infer_datetime_format=True)

#df['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
pd.to_datetime(weather_data_df['Date'])
pd.to_datetime(main_data_df['Date'])
#df.dtypes

0       2007-05-29
1       2007-05-29
2       2007-05-29
3       2007-05-29
4       2007-05-29
5       2007-05-29
6       2007-05-29
7       2007-05-29
8       2007-05-29
9       2007-05-29
10      2007-05-29
11      2007-05-29
12      2007-05-29
13      2007-05-29
14      2007-05-29
15      2007-05-29
16      2007-05-29
17      2007-05-29
18      2007-05-29
19      2007-05-29
20      2007-05-29
21      2007-05-29
22      2007-05-29
23      2007-05-29
24      2007-05-29
25      2007-06-05
26      2007-06-05
27      2007-06-05
28      2007-06-05
29      2007-06-05
           ...
10476   2013-09-26
10477   2013-09-26
10478   2013-09-26
10479   2013-09-26
10480   2013-09-26
10481   2013-09-26
10482   2013-09-26
10483   2013-09-26
10484   2013-09-26
10485   2013-09-26
10486   2013-09-26
10487   2013-09-26
10488   2013-09-26
10489   2013-09-26
10490   2013-09-26
10491   2013-09-26
10492   2013-09-26
10493   2013-09-26
10494   2013-09-26
10495   2013-09-26
10496   2013-09-26
10497   2013-09-26
10498   2013-09-26
10499   2013-09-26
10500   2013-09-26
10501   2013-09-26
10502   2013-09-26
10503   2013-09-26
10504   2013-09-26
10505   2013-09-26
Name: Date, dtype: datetime64[ns]

In [12]:
main_data_df.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

In [13]:
weather_data_df.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [14]:
joined_data = main_data_df.merge(weather_data_df, left_on='Date', right_on='Date', how='inner')

In [15]:
joined_data.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
2,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5
3,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
4,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,...,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5

In [16]:
joined_data['WnvPresent'].count()

21012

In [17]:
joined_data['WnvPresent'].sum()

1102

In [19]:
joined_data.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
Station                     int64
Tmax                        int64
Tmin                        int64
Tavg                       object
Depart                     object
DewPoint                    int64
WetBulb                    object
Heat                       object
Cool                       object
Sunrise                    object
Sunset                     object
CodeSum                    object
Depth                      object
Water1                     object
SnowFall                   object
PrecipTotal                object
StnPressure                object
SeaLevel                   object
ResultSpeed               float64
ResultDir                   int64
AvgSpeed                   object
dtype: object

In [46]:
joined_data['Tmax']

0        88
1        88
2        88
3        88
4        88
5        88
6        88
7        88
8        88
9        88
10       88
11       88
12       88
13       88
14       88
15       88
16       88
17       88
18       88
19       88
20       88
21       88
22       88
23       88
24       88
25       88
26       88
27       88
28       88
29       88
         ..
20982    75
20983    75
20984    75
20985    75
20986    75
20987    75
20988    75
20989    75
20990    75
20991    75
20992    75
20993    75
20994    75
20995    75
20996    75
20997    75
20998    75
20999    75
21000    75
21001    75
21002    75
21003    75
21004    75
21005    75
21006    75
21007    75
21008    75
21009    75
21010    75
21011    75
Name: Tmax, dtype: int64

In [53]:
import plotly
plotly.tools.set_credentials_file(username="rhsu0268", api_key="pxqr91oaa8")

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go

In [59]:
scl = [ [0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
    [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"] ]

In [60]:
data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = joined_data['Longitude'],
        lat = joined_data['Latitude'],
        text = joined_data['Tmax'],
        mode = 'markers',
        marker = dict( 
            size = 8, 
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'square',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            colorscale = scl,
            cmin = 0,
            color = df['Tmax'],
            cmax = df['Tmax'].max(),
            colorbar=dict(
                title="Tmax"
            )
        ))]

In [62]:
layout = dict(
        title = 'Tmax Data',
        colorbar = True,   
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 0.5,
            subunitwidth = 0.5        
        ),
    )

In [63]:
fig = dict( data=data, layout=layout )
url = py.plot( fig, validate=False, filename='Tmax' )